#logo {
    width: 1200px;
    height: 1000px;
}
body {
    text-align: center;
}
.flowers {
    display: inline;
}
img {
    width: 350px;
    height: 300px;
}
#mycarousel {
    background-color: bisque;
}
#mycarousel img{
    height: 300px;
    margin-top: 35px;
}
